TruthX-model/
*.bin
*.pt
*.safetensors

# Model weights (do not commit)
TruthX-model/
offload_weights/
*.bin
*.pt
*.safetensors
*.dat

# External dependencies
FastChat/

# Model weights
offload_weights/
TruthX-model/
*.dat
*.bin
*.pt
*.safetensors
